<p>
  <strong>Name:</strong>
  <%= @board.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @board.description %>
</p>

<% @pins.each do | pin | %>
  <div class="pin">
    <p>
      <%= link_to pin.title, board_pin_path(@board.id, pin) %>
    </p>
    <p>
      <%= image_tag pin.img_url %>
    </p>
  </div>
<% end %>

<br>

<%= link_to 'Back', boards_path %>
<%= link_to 'Edit', edit_board_path(@board) %>
